<!DOCTYPE html>
<html>
  <head><% include partials/template/head.ejs %></head>
<style>

path {
    stroke: steelblue; 
    stroke-width: 2; 
    fill: none;
  }

.axis path,
.axis line {
  fill:none;
  stroke:grey;
  stroke-width:1;
  shape-rendering: crispEdges;
}

</style>
  <body>
    <div class="wrapper">
      <header><% include partials/template/header.ejs %></header>
      <div class="container">
        <div class="row">
          <div class="col-md-3" id="leftnav">
          <% include partials/content/leftNav.ejs %>
          </div><!--md3-->
          <div class="col-md-9">
            <% include partials/content/demoarea.ejs %>
          </div><!--md9-->
        </div><!--row-->
      </div><!--container-->
   
      </div><!--wrapper-->  
  </body>
</html>

