<!DOCTYPE html>
<html>
  <head><% include partials/template/head.ejs %></head>
<style>
path {
    stroke: white; 
    stroke-width: 0.75px; 
    fill: lightgrey;
    opacity: .5;
}
</style>
  <body>
    <div class="wrapper">
      <header><% include partials/template/header.ejs %></header>
      <div class="container">
        <div class="row">
          <div class="col-md-3" id="leftnav">
          <% include partials/content/leftNav.ejs %>
          </div><!--md3-->
          <div class="col-md-9">
            <% include partials/content/demoarea.ejs %>
          </div><!--md9-->
        </div><!--row-->
      </div><!--container-->
        <% include partials/template/footer.ejs %>    
      </div><!--wrapper-->  
  </body>
</html>

