<html>
<head><% include partials/template/head.ejs %></head>

<body>
    <header><% include partials/template/header.ejs %></header>
	<div class="content main" style="margin-left:50px; margin-right:50px" >
		<div class="containers">
			<div class="row">
				<div class="col-lg-6">
					<div class="basicBarChart1"></div>		
				</div>
				<div class="col-lg-6">
					<div class="basicBarChart2"></div>		
				</div>
			</div>
		</div>
		<div class="containers">
			<div class="row">
				<div class="col-lg-6">
					<div class="basicBarChart3"></div>		
				</div>
				<div class="col-lg-6">
					<div class="basicBarChart4"></div>		
				</div>
			</div>
		</div>
			<div class="containers">
			<div class="row">
				<div class="col-lg-6">
					<div class="basicBarChart5"></div>		
				</div>
				<div class="col-lg-6">
					<div class="basicBarChart6"></div>		
				</div>
			</div>
		</div>
		<div class="containers">
			<div class="row">
				<div class="col-lg-12">
					<h1>Intro</h1>
					<p>This walkthough will explain how to create a simple bar chart that incorporates the enter/update/exit methodology and then extend it's desingn to include, transitions, x\y scales and x\y axises.</p>

					<ul>
						<li>Creating Bar Chart Using .data(data)</li>
						<li>Creating Bar Chart Using .data(function(d) { return d })</li>
						<li>Adding x\y scales</li>
						<li>Adding x\y axises</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="containers">
			<div class="row">
				<div class="col-lg-12">
					<p>TO BE CONTINUED...</p>
				</div>
			</div>
		</div>
	</div>


<script src="/javascripts/tutorials/basicBar.js"></script>
</body>

</html>


