<!DOCTYPE html>
<html>
<head><% include partials/template/head.ejs %></head>

<body>
    <header><% include partials/template/header.ejs %></header>

	<div class="content main" style="margin-left:50px; margin-right:50px">
		<h1><%= friendlyname %></h1>
		<div class="containers">
			<div class="row">
				<div class="col-lg-8">
					<div class="po-legend"></div>
					<div class="po-worldmap"></div>
				</div>
				<div class="col-lg-4">
						<div class="po-piechart"></div>
						<div class="po-stackedbarchart">
						<div class="switch"></div>
				</div>			
			</div>
		</div>
	</div>

<!-- <div class="container">
	<div class="row">
		<div class="col-md-12" >
			<div class="container"  id="programoverview">
				<div class="row" id="programoverview" >
				<h1><%= friendlyname %></h1>
					<div class="col-md-12 po-worldmap" ></div>
				</div>
				<div class="row" id="programoverview">
					<div class="col-md-12 legend"></div>
				</div>
				<div class="row" id="programoverview">
					<div class="switch"></div>
					<div class="col-md-4 stackedbarchart"></div>
					<div class="col-md-4 piechart"></div>
				</div>
			</div>
		</div>
	</div>
</div> -->

<script src="/javascripts/programoverview/po-stackedbarchart.js"></script>
<script src="/javascripts/programoverview/po-piechart.js"></script>
<script src="/javascripts/programoverview/po-worldmap.js"></script>
</body>

</html>


