<!DOCTYPE html>
<html>
<head><% include partials/template/head.ejs %></head>

<body>
    <header><% include partials/template/header.ejs %></header>

<div class="container">
	<div class="row">
		<div class="col-md-2" id="leftnav">
      <% include partials/content/leftNav.ejs %>
		</div>
		<div class="col-md-10" >
			<div class="container"  id="programoverview">
				<div class="row" id="programoverview" >
				<h1><%= friendlyname %></h1>
					<div class="col-md-12 po-worldmap" ></div>
				</div>
				<div class="row" id="programoverview">
					<div class="col-md-12 legend"></div>
				</div>
				<div class="row" id="programoverview">
					<div class="col-md-4 stackedbarchart"></div>
					<div class="col-md-4 piechart"></div>
				</div>
			</div>
		</div>
	</div>
</div>





<script src="/javascripts/po-stackedbarchart.js"></script>
<script src="/javascripts/po-piechart.js"></script>
<script src="/javascripts/po-worldmap.js"></script>

     <% include partials/template/footer.ejs %>

</body>

</html>


