  <div class="navigation">
    <section class="layout">
      <ul class="nav">
        <li><a href="/dashboards/programoverview"><i class="icon-white icon-picture"></i> Dashboard </a></li>
      </ul><!-- nav -->
		
				
		<article class="socialmediaicons">
   <span class="title">Follow Me: &nbsp </span>
  <ul class="group">
    <% appdata.social.forEach(function(item) { %>
      <li><a href="<%= item.url %>"><img class="icon" src="<%= item.img %>" alt="icon for <%= item.shortname %>"></a></li>
    <% }); %>
  <!--   <li class="fa fa-github fa-2x"></li>
    <li class="fa fa-wordpress fa-2x"></li>
    <li class="fa fa-linkedin fa-2x"></li>
        <li> <a href="#"><i class="fa fa-linkedin"></i></a></li>  -->
  </ul>
</article>

    </section><!-- layout -->

  </div><!-- navigation -->

</header>
