  <div class="navigation">
    <section class="layout">
      <ul class="nav">
        <li><a href="/"><i class="icon-home"></i> Home</a></li>
        <li><a href="/examples"><i class="icon-white icon-picture"></i> Examples</a></li>
      </ul><!-- nav -->
    </section><!-- layout -->
  </div><!-- navigation -->
</header>
