footer {
	height: 30px;
	width: 100%;
	position: absolute; 

	/*adding position without width @ 100% will decrease the 
	width of footer to it's content. 
	http://www.cssreset.com/how-to-keep-footer-at-bottom-of-page-with-css/
	*/

}

hr {
	padding: 0px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.layout.footer {
	margin-left: 50px;
	margin-right: 50px;
}

.container {
	padding-bottom: 100px;
	padding; 10px;
	margin-left: 50px;
	margin-right: 50px;
}

.wrapper {
	min-height: 100%;
	position: relative;
}

.navigation .layout {
		margin-left: 50px;
	margin-right: 50px;
}

.path {
stroke: white; stroke-width: 0.75px; fill: lightgrey;
}

.leftCol {

}

.filters{
	margin: 0 auto;
	width: 100%;
}

.worldMap {
	width: auto;
	height: 300px;
	overflow: hidden;
	/*background-color: blue;
	background-image: url("http://geology.com/world/world-map.gif")	;*/

}

 .clearfix {
          clear: both;
     }

.charts {
	float: left ;
	width: 250px;
	height: 200px;
	margin-right: 30px;
}

.allsites{
	overflow: hidden;
	height: 900px;
	width: auto;
	border-color: black;
}

.icon-home:before {
	color:white;
}

.icon-picture:before {
	color:white;
}

.navigation .nav{
	font-size: 15px;
}

.nav-tabs {
	padding-left: 30px;
	border-bottom: white;
}


.nav-tabs a{
	text-decoration: none;
}

.nav-tabs .header{
	font-weight: bold;
	font-size: 15px;
}

.nav-tabs .header li {

	font-size: 12px;
	text-align: left;
}

.stackedbarchart {
	font-size: 10px;
}

.overlay { 
	fill: none;
	pointer-events: all;
}



.selected{
	opacity: 0;
}

.full {
	fill: green;
}

.partialcmt1 {
	fill: blue;
}

.partialcmt2 {
	fill: steelblue;
}

.partialt1 {
	fill: orange;
}

.partialt2 {
	fill: yellow;
}

.zero {
	fill: red;
}

.tooltiptext {
	border-color: solid 1px black;
}

.stackedbarchart {
	width: 500px;
}

.xaxis {
	font-size: 8px;
}

.legend {
	cursor: pointer
}

.rectangleselected { 

}

.legendselected{
		font-weight: bold;
		font-size: 10px;

}


