
.container {
	padding-bottom: 10px;
	margin-left: 50px;
	margin-right: 50px;
	width: 1200px;
	min-height: 100%
}

#leftnav {
	padding-top:40px;
}

html,
body {
	height:100%;
}

/*adding position without width @ 100% will decrease the 
width of footer to it's content. 
http://www.cssreset.com/how-to-keep-footer-at-bottom-of-page-with-css/

http://matthewjamestaylor.com/blog/keeping-footers-at-the-bottom-of-the-page
*/
footer {
	height: 30px;
	width: 100%;
	position: absolute; 
	bottom:0;
}

hr {
	padding: 0px;
	margin-top: 10px;
	margin-bottom: 10px;
}

ul.nav.nav-tabs{
	border: 1px solid #124b5e;
	width:200px;

}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
	border:none;
}

.nav-tabs>li>a {
	text-align:left;
	padding-left:0px;
}

 #programoverview {
 	width:1000px
 }

 .col-md-12.po-worldmap {
 	width:1000px;
 }

.example.group {
	padding-bottom:40px;
	float:left;
	border: solid 1px #ddd;
	margin-left:5px;
	margin-bottom:5px;
/*	width:400px;
	height:300px;*/
}

.example img {
	margin-left: auto;
	margin-right:auto;
	height:100%;
	width:100%;
}

.example.group #worldmap{
	/*padding:10px;*/
	width:550px;
	height:300px;
	overflow:hidden;

}

/*.example.group:nth-of-type(2) {
	padding-left:30px;
	width:300px;
}*/

.example.group #bubble {
	height:300px;
	width:300px;
}

.example.group #stackedbarchart {
	height:300px;
	width:410px;

}

.example.group #horizontalbarchart {
	height:300px;
	width:400px;
	margin-left:40px;
}

.example h3{
	padding:10px;
	text-align: center;
}

.examples{

}

.layout{
	padding-left:0px;
	padding-right:0px;
}

.layout.footer {
	margin-left: 50px;
	margin-right: 50px;
}



.wrapper {
	min-height: 100%;
	position: relative;
}

.navigation .layout {
		margin-left: 50px;
	margin-right: 50px;
}

.path {
stroke: white; stroke-width: 0.75px; fill: lightgrey;
}

.leftCol {

}

.filters{
	margin: 0 auto;
	width: 100%;
}

.worldMap {
	width: auto;
	height: 300px;
	overflow: hidden;
	/*background-color: blue;
	background-image: url("http://geology.com/world/world-map.gif")	;*/

}

 .clearfix {
          clear: both;
     }

.charts {
	float: left ;
	width: 250px;
	height: 200px;
	margin-right: 30px;
}

.allsites{
	overflow: hidden;
	height: 900px;
	width: auto;
	border-color: black;
}

.icon-home:before {
	color:white;
}

.icon-picture:before {
	color:white;
}

.navigation {
	color: #fcf4dc;
}

.navigation .nav{
	font-size: 15px;
	float:left;
	
}

ul.nav {
	margin-top: 5px !important;
}

.nav-tabs {
	padding-left: 30px;
	border-bottom: white;
	border: 1px solid #124b5e;
}

.nav-tabs.li.active{

}

.nav-tabs a{
	text-decoration: none;
}

.nav-tabs .header{
	font-weight: bold;
	font-size: 15px;
}

.nav-tabs .header li {

	font-size: 12px;
	text-align: left;
}

.stackedbarchart {
	font-size: 10px;
}

.overlay { 
	fill: none;
	pointer-events: all;
}



.selected{
	opacity: 0;
}

.full {
	fill: green;
}

.partialcmt1 {
	fill: blue;
}

.partialcmt2 {
	fill: steelblue;
}

.partialt1 {
	fill: orange;
}

.partialt2 {
	fill: yellow;
}

.zero {
	fill: red;
}

.tooltiptext {
	border-color: solid 1px black;
}

.stackedbarchart {
	width: 500px;
}

.xaxis {
	font-size: 8px;
	stroke-width: 1;
}

.xaxis path,
.xaxis line {
  fill: none;
  stroke: #000;
  stroke-width:1;
  shape-rendering: crispEdges;
}

.yaxis path,
.yaxis line {
  fill: none;
  stroke: #000;
  stroke-width:1;
  shape-rendering: crispEdges;
}

.axis path,
.axis line {
	fill:none;
	stroke:grey;
	stroke-width:1;
	shape-rendering: crispEdges;
}

.legend {
	cursor: pointer
}

.rectangleselected { 

}

.rect {
  cursor: pointer;
  stroke-width: 2 !important;
}

.disabled{
  fill:transparent !important;
}

.legendselected{
		font-weight: bold;
		font-size: 10px;
}

.group.followme {
	float: right;
}

.socialmediaicons {
	float:right;
}

.socialmediaicons .title {
	font-size:15px;
	margin-top: 10px
}

.Full {
	fill:green;
}
