
.content.main{
	padding:20px;
}
.container {
	padding-bottom: 10px;
	margin-left: 50px;
	margin-right: 50px;
/*	width: 1200px;*/
	min-height: 100%
}

#leftnav {
	padding-top:40px;
}

html,
body {
	height:100%;
	width:100%;
}

footer {
	height: 30px;
	width: 100%;
/*	position: absolute; 
	bottom:0;*/
}

form {
	margin-left:45px;
	font-size: 15px;
}

hr {
	padding: 0px;
	margin-top: 10px;
	margin-bottom: 10px;
}

ul.nav.nav-tabs{
	border: 1px solid #124b5e;
	width:200px;
}

/*adding position without width @ 100% will decrease the 
width of footer to it's content. 
http://www.cssreset.com/how-to-keep-footer-at-bottom-of-page-with-css/

http://matthewjamestaylor.com/blog/keeping-footers-at-the-bottom-of-the-page
*/


.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
	border:none;
}

.nav-tabs>li>a {
	text-align:left;
	padding-left:0px;
}

/* #programoverview {
 	width:1000px
 }*/

/* .col-md-12.po-worldmap {
 	width:1000px;
 }*/

.example.group {
	padding-bottom:40px;
	float:left;
	border: solid 1px #ddd;
	margin-left:5px;
	margin-bottom:5px;
/*	width:400px;
	height:300px;*/
}

.example img {
	margin-left: auto;
	margin-right:auto;
	height:100%;
	width:100%;
}

.example.group #worldmap{
	/*padding:10px;*/
	width:550px;
	height:300px;
	overflow:hidden;

}

/*.example.group:nth-of-type(2) {
	padding-left:30px;
	width:300px;
}*/

.example.group #bubble {
	height:300px;
	width:300px;
}

.example.group #stackedbarchart {
	height:300px;
	width:410px;

}

.example.group #horizontalbarchart {
	height:300px;
	width:400px;
	margin-left:40px;
}

.example h3{
	padding:10px;
	text-align: center;
}



.layout{
	padding-left:0px;
	padding-right:0px;
}

.layout.footer {
	margin-left: 50px;
	margin-right: 50px;
}



.wrapper {
	min-height: 100%;
	position: relative;
}

.navigation .layout {
		margin-left: 50px;
	margin-right: 50px;
}

.path {
stroke: white; stroke-width: 0.75px; fill: lightgrey;
}

.leftCol {

}

.filters{
	margin: 0 auto;
	width: 100%;
}

.worldMap {
	width: auto;
	height: 300px;
	overflow: hidden;
	/*background-color: blue;
	background-image: url("http://geology.com/world/world-map.gif")	;*/

}

 .clearfix {
          clear: both;
     }

.charts {
	float: left ;
	width: 250px;
	height: 200px;
	margin-right: 30px;
}

.allsites{
	overflow: hidden;
	height: 900px;
	width: auto;
	border-color: black;
}

.icon-home:before {
	color:white;
}

.icon-picture:before {
	color:white;
}

.navigation {
	color: #fcf4dc;
}

.navigation .nav{
	font-size: 15px;
	float:left;
	
}

ul.nav {
	margin-top: 5px !important;
}

.nav-tabs {
	padding-left: 30px;
	border-bottom: white;
	border: 1px solid #124b5e;
}

.nav-tabs.li.active{

}

.nav-tabs a{
	text-decoration: none;
}

.nav-tabs .header{
	font-weight: bold;
	font-size: 15px;
}

.nav-tabs .header li {

	font-size: 12px;
	text-align: left;
}

.stackedbarchart {
	font-size: 10px;
}

.overlay { 
	fill: none;
	pointer-events: all;
}



.selected{
	opacity: 0;
}

.full {
	/*fill: green;*/
	fill:#296629;
}

.partialcmt1 {
	/*fill: blue;*/
	fill: #337F33;
}

.partialcmt2 {
	/*fill: steelblue;*/
	fill: #33A626;
}

.partialt1 {
	/*fill: orange;*/
	fill:#9AB900;
}

.partialt2 {
	/*fill: yellow;*/
	fill: #B8B800;
}

.zero {
	/*fill: red;*/
	fill:#CECE06;
}

.tooltiptext {
	border-color: solid 1px black;
}

.tooltip {
	 border-radius: 12px;
	} 

.stackedbarchart {
	width: 500px;
}

.xaxis {
	font-size: 8px;
	stroke-width: 1;
}

.xaxis path,
.xaxis line {
  fill: none;
  stroke: #000;
  stroke-width:1;
  shape-rendering: crispEdges;
}

.yaxis path,
.yaxis line {
  fill: none;
  stroke: #000;
  stroke-width:1;
  shape-rendering: crispEdges;
}

.axis path,
.axis line {
	fill:none;
	stroke:grey;
	stroke-width:1;
	shape-rendering: crispEdges;
}

.legend {
	cursor: pointer
}

.tick {
	cursor: pointer;
}

.tick text { 
	font-size: 10px;
	/*font-weight: bold;*/
}

.rectangleselected { 

}

.rect {
  cursor: pointer;
  stroke-width: 2 !important;
}

.disabled{
  fill:transparent !important;
}

.legendselected{
		font-weight: bold;
		font-size: 10px;
}

.group.followme {
	float: right;
}

.socialmediaicons {
	float:right;
}

.socialmediaicons .title {
	font-size:15px;
	margin-top: 10px
}

.Full {
	fill:green;
}

/*.switch{
	height:25px;
	margin-left:50px;
}*/
.switch label{
	margin-left: 10px;
}

.switch input {
	margin-left: 5px;
}

	.switch {
			/*display:inline;*/
			font-size: 20px;
			margin-left:-10px;
			margin-bottom: -15px;
			/*margin-top: 5px;*/
		}

		h1 {
			border-bottom: 2px solid green;
			width: auto;
		}
		.axis line {
			stroke: black;
			stroke-width: .1;
		}
		.axis path {
			display:none;
		}
		.axis text {
			font-size: 12px;
		}

		.axis.linegraph line {
			stroke: black;
			stroke-width: .8;
		}
		.allContent {
			float:left;
			width:800px;
		}
		
		.barGraph-title h2 {
			/*Text-align won't work with inline*/
	
			text-align: center;
		}

			.barGraph-title p {
			text-align: center;
			font-size: 20px;
		}


		.barGraphText{
			position:absolute;
			right:200px;
			top:0px;
		}
		.button {
			border: 1px solid black;
			cursor:pointer;
			display: inline-block;
			font-size: 17px;
			margin-left: 10px;
			padding:5px;
		}
		.buttonContainer {
				display: inline-block;
				margin:0 auto;
				overflow:hidden;
				text-align: center;
				width:100%;
		}
		.button.selected {
			border: 3px solid green;
			color:#296629;
			font-weight: bold;
			opacity: 1;
		}
		.clearfix {
			clear:both;
		}
		.countryName{ 
			font-size:18px;
			font-weight: bold;
		}
		.date{ 
		font-size:15px;
		}
		.moreInfo { 
			float:left;
			left:800px;
			position:absolute;
			top: 125px;
			width:400px;
		}
		.playAll {
			cursor:pointer;
			margin-left:12%;
			margin-bottom:5px;
		}
		.source {
			margin-left:215px;
		}
	
		.radio { 	
			height:1.3em;		
			width:1.3em; 
			}
		.tooltip {
		  position: absolute;
			padding: 5px;
		  pointer-events: none;
		  border: 1px solid green;
		  border-radius: 12px;
			line-height: 20px;
		  opacity: .07;
		  background-color:white;
		}
		.table{
			background:None;
		}
		.table ul{
			float:left;
			margin:0px;
			padding:0px;
		}
		.table ul li{
			list-style:none;
			padding:4px 9px; 
			text-align: center;
		}
		.table ul li.title{
			font-weight:bold;
			background:#fff;
			color:#000;
		}
		.table ul li.even{
			background:#fff;
		}
		.table ul li.odd{
			color: black;
			background-color: rgba(102, 255, 51, 0.09);
		}
		.value {
			font-size:15px;
			font-weight: bold;
		}

		.line-graph {
			float:left;
			left:820px;
			position:absolute;
			top: 250px;
			width:400px;
		}

		.line { 
			stroke: black;
			stroke-width: 1px;
			opacity: 0.5;
			fill: none;
		}
		.line:hover { 
			stroke: green;
			stroke-width:2px;
			opacity:1;
		}

		
		#compare { 
			float:left;
			left:800px;
			position:absolute;
			top: 700px;
			width:400px;
		}
		
		table {
			text-align:center;
		}
		
		td {
			width:120px;
		}

		.subunit.AUZ { fill: #dcd !important; }
