<!-- <div class="details"> -->
<div class="activityDetails">
	<div class="activityDetailsDate"><h2>Wed, Jan-1-2014</h2></div>
	<div class="activitydetailsinfo">
		<ul class="nav-details">
		<li><a href="/"><i class="icon-male"></i> Walk</a></li>
		<li><a href="/"><i class="icon-resize-horizontal"></i> 1 mile</a></li>
		<li><a href="/"><i class="icon-time"></i> 60 min</a></li>
		</ul>
	</div>
	<div class="activityImage">
		<img src ="../images/examples/sevan.jpg"	/> 
	</div>
	<div class="activityImageCaption">
	<p style="font-size:15px; text-align:center">"Awsome walk today with dad"</p>
	</div>
</div><!--activityDetails-->
