

<h1><%= friendlyname %></h1>
<div class="<%= title %>"></div>
<!--Segment class is needed for bubble chart-->
<div class="segment"></div>
<div class="horizonalbarchart"></div>
<script src="/javascripts/<%= js %>"></script>




