<ul class="nav nav-tabs">

	<li class="header"><a href="#">Dashboards</a>
		<ul>
			<li><a href="/dashboards/programoverview">Program Overview</a></li>
		</ul>
	</li>
	
	<li class="active header"><a href="#">Examples</a>
  <!-- Li's should be dynamically created and pulled from scd.json file -->
		<ul> 
   <!--    <li><a href="/examples/activekidsgraph">Active Kids</a></li> -->
      <li><a href="/examples/bubble">Bubble</a></li>
      <li><a href="/examples/horizontalbarchart">Horizonal Bar Chart</a></li>
			<li><a href="/examples/stackedbarchart">Stacked Bar Chart</a></li>
			<li><a href="/examples/worldmap">World Map</a></li>
		</ul>
	</li>

</ul>
